<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NHTEST;Integrated Security=True;Pooling=False" name="TestSource"/>
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NHTEST;Integrated Security=True;Pooling=False" name="CustomTestSource"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="NHibernate.Unity.Bytecode.Test" />
    <namespace name="NHibernate.Unity.Bytecode.Test" />
    <sectionExtension type="NHibernate.Unity.Configuration.NHibernateUnityConfigurationExtension, NHibernate.Unity.Configuration" />
    <container>

      <register type="NHibernate">
        <constructor>
          <param name="lazyBuildSessionfactory" value="true" type="bool"/>
          <param name="useBytecodeProvider" value="true" type="bool"/>
          <param name="useProxyFactory" value="true" type="bool"/>
        </constructor>
      </register>

      <!--<extension type="NHibernate"/>-->

      <NHibernate>
        <sessionFactories>
          <sessionFactory connectionStringName="TestSource" file="MsSql2005DialectUnityProxyFactoty.config">
            <mappings>
              <mapping assembly="NHibernate.Bytecode.Unity.Tests" resource="ProxyInterface.ProxyImpl.hbm.xml"/>
            </mappings>
          </sessionFactory>
          <sessionFactory connectionStringName="CustomTestSource" file="MsSql2005DialectCustomProxyFactory.config">
            <mappings>
              <mapping file=".\Proxyinterface\Mappings.hbm.xml"/>
            </mappings>
          </sessionFactory>
        </sessionFactories>
      </NHibernate>

    </container>
  </unity>

  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">
    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="WARN"/>
      <appender-ref ref="console"/>
    </root>
    <logger name="NHibernate.Proxy.Poco">
      <priority value="DEBUG"/>
    </logger>
    <logger name="NHibernate.ProxyGenerators.UnityInterception">
      <priority value="DEBUG"/>
    </logger>
  </log4net>
  <startup/>
</configuration>
