<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!-- 
		hibernate-configuration section

		You don't need to change this section for your own use.
		You can write your own hibernate.cfg.xml to override all session-factory configuration.
		Templates are available in NHibernate.Config.Templates folder.
	-->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <bytecode-provider type="lcg"/>
    <reflection-optimizer use="true"/>
    <session-factory name="NHibernate.Test">
      <property name="connection.provider">NHibernate.Bytecode.Unity.Tests.DebugConnectionProvider, NHibernate.Bytecode.Unity.Tests</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
      <property name="cache.use_query_cache">true</property>
      <property name="prepare_sql">false</property>
      <property name="query.startup_check">false</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="show_sql">false</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="command_timeout">10</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="adonet.wrap_result_sets">false</property>
      <property name="proxyfactory.factory_class">NHibernate.Bytecode.Unity.ProxyFactoryFactory, NHibernate.Bytecode.Unity</property>
    </session-factory>
  </hibernate-configuration>
</configuration>